@page {
    size: 74mm 52mm;
    margin: 6mm;
    @bottom-center { content: counter(page); font-size: 6pt; }
}
img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    page-break-after: always;
}
body { font-family: sans-serif; font-size: 7pt; line-height: 1.25; }
p, ul, ol, li { 
    text-align: left; 
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding: 0;
    orphans: 2;
    widows: 2;
    text-indent: 1em;
}
h1 { font-size: 10pt; text-align: center; page-break-before: always; border: none; padding-top: 5px; }
h2 { font-size: 8pt; text-align: center; margin-top: 0.5em; }
